<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>

  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" 
            name="allfile" 
            fileName="${client-logs-path}/${shortdate}.log"
            layout="${longdate} (${timezone-offset})|${event-properties:item=EventId_Id}|${uppercase:${level}}|${callsite:className=True:includeNamespace=False:fileName=False:includeSourcePath=False:methodName=True:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True}|${message} ${exception:format=tostring}"
            keepFileOpen="false"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            />

    <target name="logconsole" xsi:type="Console" />
    
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>


    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="" final="true" />
    <logger name="System.Net.Http.HttpClient*" minlevel ="Trace" writeTo="" final="true" />

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <logger name="*" minlevel="Info" writeTo="logconsole" />
    
  </rules>
</nlog>